@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Mono:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(180deg, rgba(20,20,20,1) 0%,
     rgba(41,41,41,1) 60%, rgba(41,41,41,1) 100%);
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(20,20,20,1);
    box-shadow: 0 10px 2em rgba(20,20,20,1);
}
header ul{
    display: flex;
    list-style: none;
    color: rgb(197, 197, 197); 
    position: absolute;
    right: 10%;
    height: auto;
}
header img{
    width: 300px;
    position: absolute;
    top: 70px;
    left: 10%;
}
header .contas{
    display: flex;
    color: white;
    list-style: none;
    position: absolute;
    top: 55px;
    left: 120px;
}
.contas li{
    padding: 10px;
}
header ul li{
    padding: 10px;
    transition: 0.2s ease-in-out;
}
header ul li:hover{
    transform: scale(1.1);
}
header ul li a,header ul li a:hover,header ul li a:active,
header ul li a:visited{
    text-decoration: none;
    color: rgb(197, 197, 197);
}
#cur{
    display: block;
    text-align: right;
}
#cur #textcur {
    font-size: 15px;
    width: 100px;
    color: rgb(0, 255, 255);
    transition: 0.2s ease-in-out;
    display: block;
    opacity: 0;
}

@media (max-width:810px){
    header img{
    top: 20px;
    }
}
@media (max-width:440px){
    
    
    header img{
        position:absolute;
        margin: 0 auto;
    }
    header ul{
        width: 100vw;
        position:absolute;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 101px;
    }
    header .contas{
        left:70px;
    }
    header ul li{
        padding: 5px;
    }
    html .hero{
        padding-top: 20px;
    }
    
}
.hero{
    width: 100vw;
    height: auto;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
}
.hero h1{
    color: white;
    font-size: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}    
.hero h2{
    color: rgb(0, 255, 255);
    font-size: 2rem;font-weight: 200;
}
.typedtext {
    border-right: 2px solid black;
    animation: blinkTextCursor 800ms steps(44) infinite normal;
    height: 40px;
    color: rgb(255, 0, 255);
    display: block;
    font-size: 26px;
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: black;
    }
    to {
      border-right-color: transparent;
    }
  }
.hero span{
    color: rgb(0, 255, 255);
    font-size: 1.5rem;
}
.about{
    width: 100vw;
    margin: 0 auto;
    height: auto;
    text-align: center;
    display: flex;
}
@media(max-width:725px){
    .about .container{
        display: block;
        margin: 0 auto;
    }
    .container .container-text{
        width: calc(100vw - 10px);
    }
    .container-work,.container-work .item-work{
        height: auto;
    }
    .container-text,.img-text{
        margin: 0 auto;
    }
    .item-work .imagem{
        margin: 0 auto;
        width: calc(100vw - 10px);
        padding: 0;
    }
    .container-work .item-work .p1,.container-work .item-work .p2{
        bottom: 0;
        left: 0;
        width: 250px;
        margin: 0 auto;

    }
    .container-work .img-work .mob,.container-work .img-work .mob2{
        bottom: 0;
        right: 0;
        left: 0;
        margin: 20px auto;
    }
    .img-work{
        display: block;
    }
    .morework .container-cards{
        display: block;
        width: 100vw;
        height: auto;
    }
    .morework .container-cards .cards{
        margin: 0 auto;
    }
    .contato form{
        width: calc(100vw - 10px);
        padding-top: 70px;
    }
    .contato form input,.contato form textarea{
        width: calc(100% - 5px);
    }
    
}
@media(max-width:300px){
    header img{
        width: calc(100vw - 2px);
        left: 0;
    }
    header ul{
        right: 0;
    }
    header ul li{
        font-size: 12px;
    }
    header .contas{
        top: 55px;
        left: 20px;
    }
    .hero h1{
        font-size: 5rem;
    }
    .about .img-text{
        width:200px;
        height: auto;
    }
    .contianer .container-text .img-text img{
        width: 180px;
        height: 100%;
    }
}
.titulosection{
    color: rgb(0, 255, 255);
    position: absolute;
    right:  70vw;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-text{
    padding-top: 100px;
    height: auto;
    width: 400px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container-text p{
    height: auto;
    color: white;
    font-size: 20px;
    font-weight: 100;
    width: 90%;
    text-align: center;
}
.lists{
    display: flex;
    justify-content: center;
}
.hardskill,.hardskill2{
    display: block;
    text-align: center;
    justify-content: center;
    padding: 25px;
}.hardskill li,.hardskill2 li{
    color: white;
    padding: 5px;
    font-size: 18px;
    list-style:square;
    transition: 0.1s ease-in-out;
}
.li1:hover{
    color: rgb(0, 255, 255);
    transform: scale(1.1);
    list-style: none;
    text-shadow: 0 0 10px rgb(0, 255, 255),
                 0 0 20px rgb(0, 255, 255), 
                0 0 30px rgb(0, 255, 255), 
                0 0 40px rgb(0, 255, 255),
                0 0 50px rgb(0, 255, 255),
                0 0 60px rgb(0, 255, 255), 
                0 0 70px rgb(0, 255, 255);
}.li2:hover{
    color: rgb(255, 0, 255);
    transform: scale(1.1);
    list-style: none;
    text-shadow: 0 0 10px rgb(255, 0, 255),
                 0 0 20px rgb(255, 0, 255), 
                0 0 30px rgb(255, 0, 255), 
                0 0 40px rgb(255, 0, 255),
                0 0 50px rgb(255, 0, 255),
                0 0 60px rgb(255, 0, 255), 
                0 0 70px rgb(255, 0, 255);
}
.img-text{
    height: 350px;
    width: 300px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.img-text img,.imagem{
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
    filter: grayscale(100);
    border-radius: 5px;
}
.img-text img:hover,.imagem:hover{
    filter: none;
    
}
.img-text:hover{
    border:2px solid rgb(0, 255, 255);
}

.work{
    padding-top: 50px;
    width: 100vw;
    margin: 0 auto;
    height: auto;
    text-align: center;
    display: block;
}
.container-work{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}
.item-work{
    padding-top: 100px;
    height: 900px;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.item-work .p1{
    width: 300px;
    height: auto;
    position: relative;
    bottom: 340px;
    left: 400px;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    transition: .5s ease-in-out;
    cursor: pointer;
    border:2px solid transparent;
    border-radius: 10px;
}
.item-work .p2{
    width: 300px;
    height: auto;
    position: relative;
    padding: 20px;
    bottom: 340px;
    left:40px ;
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    transition: .5s ease-in-out;
    cursor: pointer;
    border:2px solid transparent;
    border-radius: 10px;
}
.item-work .p2:hover,.item-work .p1:hover{
    border:2px solid rgb(0, 255, 255);
    background-color: rgb(0, 0, 0);
}

.img-work{
    max-width:750px;
    height: auto;
    margin: 0 auto;
    
} 
.img-work p i{
    cursor: pointer;
    transition: .25s ease-in-out;
}
.img-work p i:hover{
    font-size: 24px;
}

#mbr,#mara,#cemj,#cep{
    color: rgb(255, 0, 255);

}

.img-work .pc{
    height: 100%;
    width: 100%;
    border:2px solid rgb(0, 255, 255);
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.img-work .mob{
    height: 350px;
    width: 220px;
    position: relative;
    bottom:80px;
    right: 150px;
    border:2px solid rgb(0, 255, 255);
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.img-work .mob2{
    height: 350px;
    width: 220px;
    position: relative;
    bottom:80px;
    left: 150px;
    border:2px solid rgb(0, 255, 255);
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.img-work .mob:hover,.img-work .mob2:hover,.img-work .pc:hover{
    box-shadow:  0 0 15px rgb(7, 7, 7);
    transform: scale(1.02);
}
.morework{
    margin-top: 80px;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.morework h3{
   color:  rgb(0, 255, 255);
   text-align: center;
   padding-top: 40px;
}
.container-cards{
    width: 750px;
    height: 600px;
    margin: 0 auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-auto-rows: 300px;
}
.cards{
    padding: 35px;
    width: 250px;
    height: 300px;
    color: white;
    transition: 0.8s ease-in-out;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.cards h4{
    color:  rgb(0, 255, 255); 
}
.cards i{
    color:  rgb(255, 0, 255);
    cursor: pointer;
}
.cards a i{
    font-size: 22px;
    transition: 0.25s ease-in-out;
}
.cards a i:hover{
    font-size: 26px;
}
.cards:hover{
    border: 0.5px solid  rgb(0, 255, 255);
    filter: none;
    background-color: rgba(20,20,20,1);
}
/*--------end work*/

.contato{
    width: 100vw;
    height: auto;
    display: block;
}
.formulario{
    margin: 0 auto;
    text-align: center;
}
.formulario h3{
    padding-top: 150px;
    color: rgb(0, 255, 255) ;
}
form{
    margin: 0 auto;
    padding-top: 50px;
    width: 600px;
    height: 650px;
}

input,textarea{
    height: 60px;
    width: 600px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    background-color:rgba(20,20,20,1);
    border: none;
    border-radius: 5px;
}


input:hover,textarea:hover{
    border: 2px solid  rgb(0, 255, 255);
}
#msg{
    height: 150px;
}
button{
    width: 220px;
    height: 60px;
    background-color: rgba(20,20,20,1);
    border: none;
    color: white;
    display: block;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .4s;
    border-radius: 5px;
}
button span{
    z-index: 5;
    position: relative;
}
button::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(0, 255, 255);
    transition: all .5s;
    
}
button:hover{
    color: rgb(30, 30, 30);
    font-size: 20px;
}
button:hover:after{
    width: 100%;
}


/*END contato*/

.extra{
    padding-top: 100px;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}
.text-digite {
  padding-top: 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-digite p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: white;
}
@media(max-width:650px)
{
    .extra .text-digite p{
        font-size: 2rem;
    }
}
.text-digite p span.typed-text {
  font-weight: normal;
  color:rgb(0, 255, 255);
}
.text-digite p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.text-digite p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
.gif{
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 250px;

}
@media(max-width:600px){
    .extra .gif{
        width: 250px;
        height: 180px;
    }
}
/*end extra*/
footer{
    width: 100vw;
    height: 40px;
    text-align: center;
    background-color: rgba(20,20,20,1);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer h4{
    font-size: 14px;
    cursor: pointer;
}
footer h4:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255),
                 0 0 20px rgb(255, 255, 255), 
                0 0 30px #ffffff, 
                0 0 40px #ffffff,
                0 0 50px #ffffff,
                0 0 60px #ffffff, 
                0 0 70px #ffffff;
    
}
#backup{
    font-size: 40px;
     color: white;
     position: sticky;
     bottom: 20px;
     left: 90%;
     color: rgb(0, 255, 255);
     cursor: pointer;
     transition: .2s ease-in-out;
    }
    #backup:hover{
        color: rgb(255, 0, 255);
    
    }
  /*Animação*/
[data-anime]{
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: translatey(50px);
}
[data-anime].animated{
   opacity: 1;
   transform: translatey(0);
   
}
  